  <div class="root">

  <h1 style="margin-bottom: 10px">
  NG ROLES SELECTOR
  </h1>
  <div style="margin-bottom: 20px" class="">
    <a href="https://www.npmjs.com/package/ngx-roles-selector" target="_blank">
      Please Click on this link to read the documentation first!!! Thank you.
    </a>
  </div>
  
<form class = "grid" (ngSubmit)="onSubmit(testForm)" #testForm="ngForm" [formGroup]="form">
  <div>

<ngx-roles-selector 
[formArrayName]="'roles'"
[roleList]="roleList" 
[form]="form"
[permittedRoles]  = "permittedRoles"
[disabled] = "true"
[permissions] = "permissions"
[showTags] = "true"
>

</ngx-roles-selector >

<button type="submit" class="btn" color="primary" mat-flat-button>Submit</button>
</div>

<div class="section">
  <h2>Demo Value</h2>
  <label for="">Value:</label>
  <p>
    {{result}}
  </p>
</div>
<!-- 
<ngx-mat-tree-select-input-ngmodel 
(selectionChanged)="onSelectionChanged()"
[(select)]="value"
[options]="options"
[heading] = "'Sub Categories of'"
[canSelectParentNode] = "false"
[placeholder]="'Select Category'" 
>
</ngx-mat-tree-select-input-ngmodel> -->


</form>

</div>
